*{
    margin: 0;
    padding: 0;
    border: 0;
}
.btn-ret{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #640df0;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

}
@keyframes engordar{
    0%{width: 55px;
        height: 55px;}
    100%{width: 60px;
        height: 60px;}
}
.btn-ret:hover{
    text-decoration: none;
    background: #8539ff;
    animation-duration: 250ms;
    animation-name: engordar;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
